<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>{{ page.title }}</title>
</head>
<body>
{% for name, value in page.get_fields %}
  {% if value %}
    <p>{{ name }} => {{ value }}</p>
  {% endif %}
{% endfor %}
{{ page.has_translations }}
{% ifnotequal page.get_translations.count 1 %}
	<p>tlumaczenia:</p>
	{% for translation in page.get_translations.all %}
		{% ifnotequal translation.language_code page.language_code %}
			<p><a href="{{ translation.get_absolute_url }}?lang={{ translation.language_code }}">{{ translation.get_language }}, {{ translation.title }}</a></p>
		{% endifnotequal %}
	{% endfor %}
{% else %} nie ma tlumaczen {% endifnotequal %}
</body>
</html>
