<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/test.css" />
</head>
<body>
{% include "pages/menu.html" %}

{% for name, value in page.get_fields %}
  {% if value %}
    <p>{{ name }} => {{ value }}</p>
  {% endif %}
{% endfor %}
{{ page.has_translations }}
{% ifnotequal page.get_translations.count 1 %}
	<p>tlumaczenia:</p>
	{% for translation in page.get_translations.all %}
		{% if translation.language_code != page.language_code and translation.is_published %}
			<p><a href="{{ translation.get_absolute_url }}?lang={{ translation.language_code }}">{{ translation.get_language }}, {{ translation.title }}</a></p>
		{% endif %}
	{% endfor %}
{% else %} nie ma tlumaczen {% endifnotequal %}
</body>
</html>
