{% extends "base.html" %}

{% if page.has_translations %} sa tlumaczenia {% else %} nie ma tlumaczen {% endif %}

{% for translation in page.get_translations.all %}
<p><a href="{{ translation.get_absolute_url }}">{{ translation.get_language }}, {{ translation.title }}</a></p>
{% endfor %}

<p>translacje bez siebie:</p>

	{% for translation in page.get_translations.all %}
		{% ifnotequal translation.language_code page.language_code %}
			<p><a href="{{ translation.get_absolute_url }}">{{ translation.get_language }}, {{ translation.title }}</a></p>
		{% endifnotequal %}
	{% endfor %}
	
	
	
	{% block content %}	
        
        <!-- Pagetitle -->
        <h1 class="pagetitle">{{ page.title }}</h1>

        <!-- Content unit - One column -->
        <div class="column1-unit">
          <h1>Flexible and robust template</h1>                            
          <h3>Now substantially improved and simplified</h3>
          <p>{{ page.content }}</p>
        </div>
        <hr class="clear-contentunit" />          

        <!-- Content unit - One column -->
        <div class="column1-unit">        
          <h1>Content Management Systems</h1>                            
          <h3>Portings already available or in development</h3>
          <p>At the time of release, portings were being produced for various Content Management Systems, such as <a href="http://www.modxcms.com">MODx</a>, <a href="http://www.wordpress.org">WordPress</a>, and <a href="http://www.contrexx.com">Contrexx</a>.</p>
        </div>          
        <hr class="clear-contentunit" />  
	{% endblock %}
